<!-- tasks/templates/tasks/task_form.html -->

{% extends 'base.html' %}

{% block content %}
    <div style="display:flex;align-items: center;justify-content: center;flex-direction: column;margin-top: 5rem;">
        <h2>{{ title }}</h2>
        <form method="POST" style="display:flex;align-items: flex-start;justify-content: center;flex-direction: column;gap:8px" class="form_criar">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form_botao">
                 <button type="submit" class="btn" style="background-color: lightseagreen; color: white">Salvar</button>
                 <a href="{% url 'task_list' %}" class="btn" style="background-color:  darkcyan; color: white">Cancelar</a>
            </div>


        </form>
    </div>
{% endblock %}
